.headCoin {
  animation: spin1 2s ease-out 2;
  position: relative;
}
.tailCoin {
  animation: spin2 2s ease-out 2;
  position: relative;
  left: -15vh;
}

@keyframes spin2 {
  0% {
    top: -0vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
  5% {
    top: -10vh;
    transform: rotate3d(1, 0, 0, 360deg);
  }
  10% {
    top: -19vh;
    transform: rotate3d(1, 0, 0, -324deg);
  }
  15% {
    top: -27vh;
    transform: rotate3d(1, 0, 0, 288deg);
  }
  20% {
    top: -34vh;
    transform: rotate3d(1, 0, 0, -255deg);
  }
  25% {
    top: -40vh;
    transform: rotate3d(1, 0, 0, 200deg);
  }
  30% {
    top: -45vh;
    transform: rotate3d(1, 0, 0, -150deg);
  }
  35% {
    top: -47vh;
    transform: rotate3d(1, 0, 0, 100deg);
  }
  40% {
    top: -48vh;
    transform: rotate3d(1, 0, 0, -20deg);
  }
  45% {
    top: -49vh;
    transform: rotate3d(1, 0, 0, 10deg);
  }
  50% {
    top: -50vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
  55% {
    top: -49vh;
    transform: rotate3d(1, 0, 0, 10deg);
  }
  60% {
    top: -48vh;
    transform: rotate3d(1, 0, 0, -20deg);
  }
  65% {
    top: -47vh;
    transform: rotate3d(1, 0, 0, 100deg);
  }
  70% {
    top: -45vh;
    transform: rotate3d(1, 0, 0, -150deg);
  }
  75% {
    top: -40vh;
    transform: rotate3d(1, 0, 0, 200deg);
  }
  80% {
    top: -34vh;
    transform: rotate3d(1, 0, 0, -255deg);
  }
  85% {
    top: -27vh;
    transform: rotate3d(1, 0, 0, 288deg);
  }
  90% {
    top: -19vh;
    transform: rotate3d(1, 0, 0, -324deg);
  }
  95% {
    top: -10vh;
    transform: rotate3d(1, 0, 0, 360deg);
  }
  100% {
    top: -0vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes spin1 {
  0% {
    top: -0vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
  5% {
    top: -10vh;
    transform: rotate3d(1, 0, 0, 360deg);
  }
  10% {
    top: -19vh;
    transform: rotate3d(1, 0, 0, -324deg);
  }
  15% {
    top: -27vh;
    transform: rotate3d(1, 0, 0, 288deg);
  }
  20% {
    top: -34vh;
    transform: rotate3d(1, 0, 0, -255deg);
  }
  25% {
    top: -40vh;
    transform: rotate3d(1, 0, 0, 200deg);
  }
  30% {
    top: -45vh;
    transform: rotate3d(1, 0, 0, -150deg);
  }
  35% {
    top: -47vh;
    transform: rotate3d(1, 0, 0, 100deg);
  }
  40% {
    top: -48vh;
    transform: rotate3d(1, 0, 0, -20deg);
  }
  45% {
    top: -49vh;
    transform: rotate3d(1, 0, 0, 10deg);
  }
  50% {
    top: -50vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
  55% {
    top: -49vh;
    transform: rotate3d(1, 0, 0, 10deg);
  }
  60% {
    top: -48vh;
    transform: rotate3d(1, 0, 0, -20deg);
  }
  65% {
    top: -47vh;
    transform: rotate3d(1, 0, 0, 100deg);
  }
  70% {
    top: -45vh;
    transform: rotate3d(1, 0, 0, -150deg);
  }
  75% {
    top: -40vh;
    transform: rotate3d(1, 0, 0, 200deg);
  }
  80% {
    top: -34vh;
    transform: rotate3d(1, 0, 0, -255deg);
  }
  85% {
    top: -27vh;
    transform: rotate3d(1, 0, 0, 288deg);
  }
  90% {
    top: -19vh;
    transform: rotate3d(1, 0, 0, -324deg);
  }
  95% {
    top: -10vh;
    transform: rotate3d(1, 0, 0, 360deg);
  }
  100% {
    top: -0vh;
    transform: rotate3d(1, 0, 0, 0deg);
  }
}
